@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&family=Inter&family=Manrope:wght@700&display=swap');

*{
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: hsl(218, 23%, 16%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card{
  background: hsl(217, 19%, 24%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 540px;
  padding-top: 3rem ;
  padding-right: 2rem;
  padding-bottom: 4.5rem;
  padding-left: 2rem;
  margin: 0 auto;
  border-radius: 15px;
  position: relative;

}

p{
  color: hsl(150, 100%, 66%);
  letter-spacing: 2.5px;
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 12px;
}

h2{
  color: hsl(193, 38%, 86%);
  margin-bottom: 2.5rem;
  font-size: 28px;
  text-align: center;
}

.dice{
  background: hsl(150, 100%, 66%);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  bottom: -2rem;
}

.dice:hover{
  box-shadow: 0 0 40px 0 rgba(82, 225, 169, 1);
  transition: .2s ease-in-out;

}

.divider-mobile{
  display: none;
  
}

@media(max-width: 924px){
  .divider-mobile{
    display: block;
    
  }

  .divider-desktop{
    display: none;
  }
}

@media(max-width: 620px){
  .card{
    width: 90%;
  }
}

@media(max-width: 320px){
  h2{
    font-size: 24px;
  }

  p{
    font-size: 11px;
  }
}